.navbar {
    background-color: #004d40; /* Dark green background */
    padding: 1rem;
}
.logo-nav{
    width: 150px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    color: #fff;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.navbar-nav .nav-link:hover {
    color: #cfd8dc; /* Light gray hover */
}

.btn-login {
    background-color: #fbc02d; /* Yellow button for Login */
    color: #004d40;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
    
}
.btn-login-link{
        text-decoration: none;
        color: inherit;
}

.btn-login:hover {
    background-color: #ffd54f; /* Lighter yellow on hover */
    color: #004d40;
}

.nav-item .active {
    border-bottom: 2px solid #ffd54f;
}