.home-container {
    margin-top: 5rem; 
    height: max-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content {  
    width: 100%;
    height: 400px;
    background-color: #9dafac;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

