@keyframes EntrarDesdeArriba{
    from{
        transform: translateY(-400%);
    }
    to{
        transform: translateY(0);
    }
}

* {
   margin: 0;
   padding: 0;
       
}

.home_body {
width: 100%;
height: 100vh;
display: flex;
position: absolute;
top: 0;
left: 0;
justify-content: center;

}

.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 180%;
    z-index: -1;

   }

.home-container {
    margin-top: 5rem; 
    height: max-content;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    
}

.content {  
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    position: relative;
    align-items: center;
    animation: EntrarDesdeArriba .8s ease;
}

