/* Contenedor principal del formulario de búsqueda */
.search-camping-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    background-color: #03480f;
    padding: 15px;
    border-radius: 10px;
}

/* Estilo del formulario */
.search-camping-form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-items: center;
}

/* Estilo de los inputs */
.search-input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 150px;
    font-size: 1rem;
}

/* Estilo del botón de búsqueda */
.search-button {
    padding: 10px 20px;
    background-color: #ffca28;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}

/* Hover para el botón */
.search-button:hover {
    background-color: #ffb300;
}

/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .search-camping-form {
        flex-direction: column;
        align-items: stretch;
    }

    .search-input {
        width: 100%;
        margin-bottom: 10px;
    }

    .search-button {
        width: 100%;
    }
}
