.provider-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Fondo diferente al del cliente */
}

.provider-register-form-container {
    background-color: #004d40;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    color: white;
}

.provider-register-form h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #fff;
}

.provider-form-group {
    margin-bottom: 1rem;
}

.provider-form-group label {
    font-size: 1.2rem;
}

.provider-form-control {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    border: none;
    font-size: 1.1rem;
}

.provider-form-control:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn-provider-register-container {
    width: 100%;
    margin-top: 1rem;
    background-color: #fbc02d;
    color: #004d40;
    border: none;
    padding: 1rem 1.5rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.btn-provider-register-container:hover {
    background-color: #ffd54f;
    color: #004d40;
}

.provider-error-message {
    color: #e57373;
    text-align: center;
    margin-bottom: 1rem;
}
